/* line 19, ../sass/addressHisotory.scss */
.mapAddr {
  text-align: center;
  margin-bottom: 50px;
}

/* line 24, ../sass/addressHisotory.scss */
.txtStyleN16 {
  margin-left: 58px;
  margin-top: 34px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  color: #2b79ec;
}

/* line 33, ../sass/addressHisotory.scss */
.txtStyleN17 {
  margin-right: 7px;
  margin-top: 37px;
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 700;
  color: #1ab86b;
  padding-right: 35px;
  text-align: right;
}

/* line 44, ../sass/addressHisotory.scss */
.txtStyleN18 {
  margin-top: 37px;
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 400;
  color: #adadad;
  padding-right: 0px;
  text-align: right;
}

/* line 54, ../sass/addressHisotory.scss */
.txtStyleN19 {
  margin-top: 37px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 400;
  color: #2b79ec;
  padding-right: 30px;
  text-align: right;
}

/* line 64, ../sass/addressHisotory.scss */
.placeN8_Addr {
  padding-bottom: 8px;
}

/* line 65, ../sass/addressHisotory.scss */
.placeN9_Addr {
  padding-bottom: 10px;
}

/* line 66, ../sass/addressHisotory.scss */
.placeN10_Addr {
  padding-bottom: 31px;
}

/* line 67, ../sass/addressHisotory.scss */
.placeN8 {
  margin-bottom: 10px;
}

/* line 70, ../sass/addressHisotory.scss */
.placeN9 {
  margin-bottom: 10px;
}
