/* line 14, ../sass/caption.scss */
.rowCaption {
  background-color: #2b79ec;
  width: 1002px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}
/* line 24, ../sass/caption.scss */
.rowCaption .criminalCaption {
  color: #9ec1f4;
}
