/* line 5, ../sass/caption.scss */
.styleN11_infoIcon {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 13, ../sass/caption.scss */
  .styleN10_Caption {
    background-color: #2b79ec;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    padding: 30px 32px 35px 25px;
  }
  /* line 20, ../sass/caption.scss */
  .styleN10_Caption .criminalCaption {
    color: #9ec1f4;
  }
}
@media (min-width: 768px) {
  /* line 28, ../sass/caption.scss */
  .styleN10_Caption {
    background-color: #2b79ec;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 30px;
  }
  /* line 35, ../sass/caption.scss */
  .styleN10_Caption .criminalCaption {
    color: #9ec1f4;
  }
}
