@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/ProximaNova-Light.otf) format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/proxima-nova-regular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/ProximaNova-Semibold.otf) format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/ProximaNova-Bold.otf) format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/ProximaNova-Extrabold.otf) format('opentype');
  font-weight: 900;
}
