/* line 15, ../sass/footer.scss */
.rowFooterSection {
  width: 100%;
  background-color: #f6f6f6;
}

/* line 19, ../sass/footer.scss */
.rowFooterContent {
  width: 1099px;
  background-color: #f6f6f6;
  padding-top: 59px;
  margin: 0 auto;
  border-bottom: 1px solid #e9e9e9;
}

/* line 27, ../sass/footer.scss */
.liStyleN1 {
  text-align: center;
  padding-bottom: 38px;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
}
/* line 33, ../sass/footer.scss */
.liStyleN1 li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}
/* line 36, ../sass/footer.scss */
.liStyleN1 li:nth-child(1) {
  font-size: 14px;
  font-weight: 700;
}
/* line 40, ../sass/footer.scss */
.liStyleN1 a {
  font-size: 14px;
  font-weight: 400;
}

/* line 45, ../sass/footer.scss */
.liStyleN2 {
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  list-style-type: disc;
  float: left;
  margin-left: 25px;
  margin-bottom: 37px;
}
/* line 57, ../sass/footer.scss */
.liStyleN2 li {
  display: inline;
}
/* line 59, ../sass/footer.scss */
.liStyleN2 li.disk:before {
  content: "\2022";
  color: #a3a3a3;
  margin-left: 8px;
  margin-right: 8px;
}

/* line 63, ../sass/footer.scss */
.txtStyleN37 {
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #808080;
  margin-bottom: 41px;
}

/* line 72, ../sass/footer.scss */
.txtStyleN38 {
  text-align: center;
}
/* line 74, ../sass/footer.scss */
.txtStyleN38 img {
  margin-right: 34px;
  margin-top: 31px;
  margin-bottom: 41px;
}

/* line 81, ../sass/footer.scss */
.txtStyleN39 {
  font-family: "Proxima Nova";
  text-align: center;
  color: #a7a7a7;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 18px;
}
