/* line 5, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/ProximaNova-Light.otf) format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/proxima-nova-regular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/ProximaNova-Semibold.otf) format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/ProximaNova-Bold.otf) format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('//fonts/');
  src: url('//fonts/?#iefix') format('embedded-opentype'), url(/task/fonts/ProximaNova-Extrabold.otf) format('opentype');
  font-weight: 900;
}
/* line 15, ../sass/header.scss */
.styleN1_rowHeader {
  background-color: #fafafa;
  border-bottom: 1px solid #dee1e3;
}

/* line 20, ../sass/header.scss */
.styleN2_rowHeaderContent {
  width: 1002px;
  margin: 0 auto;
}

/* line 28, ../sass/header.scss */
.styleN3_inputCollect {
  display: inline;
  border-radius: 5px;
  border: 1px solid #d4d6d8;
  padding-top: 18px;
  padding-bottom: 15px;
  background-color: #ffffff;
  margin-right: 10px;
}

/* line 38, ../sass/header.scss */
.styleN4_inputKindSearch {
  display: inline-block;
}

/* line 42, ../sass/header.scss */
.styleN5_selectTxt {
  font-family: "Proxima Nova";
  margin-left: 20px;
  margin-right: 10px;
  border: none;
  font-size: 19px;
  color: #646c6c;
  font-weight: 700;
  width: 166px;
}
/* line 52, ../sass/header.scss */
.styleN5_selectTxt :after {
  content: "";
  background: url("img/dropdownIcon.png") no-repeat right;
}

/* line 56, ../sass/header.scss */
.styleN6_inputSearch {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 50px;
}

/* line 62, ../sass/header.scss */
.styleN7_labelFindNear {
  font-family: "Proxima Nova";
  color: #646c6c;
  font-size: 19px;
  font-weight: 900;
  border: none;
}

/* line 70, ../sass/header.scss */
.styleN8_inputFindNear {
  font-family: "Proxima Nova";
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  border: none;
  width: 283px;
}

/* line 80, ../sass/header.scss */
.styleN9_btnSearch {
  display: inline-block;
  background-color: #2b79ec;
  margin-top: 25px;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 5px;
  border-top: 1px solid #a2c3f6;
  border-right: 1px solid #2657c0;
  border-bottom: 1px solid #1b4ca2;
  border-left: 1px solid #6898ef;
}
/* line 90, ../sass/header.scss */
.styleN9_btnSearch input {
  background: url("../img/searchIcon.png") no-repeat;
  border: none;
  width: 27px;
}

@media (min-width: 768px) {
  /* line 14, ../sass/_reportSection.scss */
  .styleN70_ReportSection {
    background-color: #fff;
    width: 1002px;
    margin: 0 auto;
    padding-top: 9px;
    padding-bottom: 10px;
  }
  /* line 20, ../sass/_reportSection.scss */
  .styleN70_ReportSection > .M3 {
    text-align: right;
  }

  /* line 22, ../sass/_reportSection.scss */
  .styleN71_BtnUpgReport {
    background-color: #1ab86b;
    width: 171px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #008249;
    border: none;
    font-family: "Proxima Nova";
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
  }

  /* line 37, ../sass/_reportSection.scss */
  .styleN73_BtnPrint {
    margin-left: 29px;
  }

  /* line 38, ../sass/_reportSection.scss */
  .styleN74_BtnDownload {
    margin-left: 30px;
  }

  /* line 39, ../sass/_reportSection.scss */
  .styleN75_BtnEmail {
    margin-left: 29px;
  }
}
@media (max-width: 767px) {
  /* line 9, ../sass/_contactSection.scss */
  .styleN13_Profile {
    padding-bottom: 35px;
  }

  /* line 12, ../sass/_contactSection.scss */
  .styleN14_ProfIcon {
    background-color: #d4d6d8;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 90px;
  }

  /* line 19, ../sass/_contactSection.scss */
  .styleN15_ProfName {
    margin-left: 24px;
    margin-bottom: 6px;
    font-family: "Proxima Nova";
    font-size: 40px;
    font-weight: 700;
    color: #646c6c;
  }

  /* line 27, ../sass/_contactSection.scss */
  .styleN16_ProfBorn {
    margin-left: 24px;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-weight: 400;
    color: #646c6c;
    line-height: 26px;
  }

  /* line 37, ../sass/_contactSection.scss */
  .styleN19_BtnPadding:nth-child(1) > .styleN17_Btn > .styleN18_BtnIcon {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* line 40, ../sass/_contactSection.scss */
  .styleN19_BtnPadding:nth-child(1) > .styleN17_Btn > .styleN18_BtnIcon img {
    width: 55px;
  }
  /* line 42, ../sass/_contactSection.scss */
  .styleN19_BtnPadding:nth-child(2) > .styleN17_Btn > .styleN18_BtnIcon {
    margin-top: 50px;
    margin-bottom: 23px;
  }
  /* line 45, ../sass/_contactSection.scss */
  .styleN19_BtnPadding:nth-child(2) > .styleN17_Btn > .styleN18_BtnIcon img {
    width: 37px;
  }
  /* line 47, ../sass/_contactSection.scss */
  .styleN19_BtnPadding:nth-child(3) > .styleN17_Btn > .styleN18_BtnIcon {
    margin-top: 45px;
    margin-bottom: 35px;
  }
  /* line 50, ../sass/_contactSection.scss */
  .styleN19_BtnPadding:nth-child(3) > .styleN17_Btn > .styleN18_BtnIcon img {
    width: 55px;
  }

  /* line 53, ../sass/_contactSection.scss */
  .styleN20_txtHome {
    margin-left: 17px;
    margin-top: 32px;
    margin-bottom: 22px;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    color: #969696;
  }

  /* line 63, ../sass/_contactSection.scss */
  .styleN21_txtNumber {
    margin-left: 17px;
    font-family: "Proxima Nova";
    font-size: 25px;
    font-weight: 400;
    color: #2b79ec;
  }

  /* line 70, ../sass/_contactSection.scss */
  .styleN22_txtCurAddrCaption {
    margin-left: 17px;
    margin-top: 32px;
    margin-bottom: 12px;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 400;
    color: #969696;
  }

  /* line 80, ../sass/_contactSection.scss */
  .styleN23_txtCurAddr {
    margin-left: 17px;
    font-family: "Proxima Nova";
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #2b79ec;
  }

  /* line 88, ../sass/_contactSection.scss */
  .styleN24_txtEmailCaption {
    margin-left: 17px;
    margin-top: 32px;
    margin-bottom: 23px;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 400;
    color: #969696;
  }

  /* line 98, ../sass/_contactSection.scss */
  .styleN25_txtSendEmail {
    margin-left: 17px;
    font-family: "Proxima Nova";
    font-size: 26px;
    font-weight: 400;
    color: #2b79ec;
  }
}
@media (min-width: 768px) {
  /* line 110, ../sass/_contactSection.scss */
  .styleN13_Profile {
    padding-bottom: 27px;
  }

  /* line 113, ../sass/_contactSection.scss */
  .styleN14_ProfIcon {
    background-color: #d4d6d8;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    width: 90px;
  }

  /* line 120, ../sass/_contactSection.scss */
  .styleN15_ProfName {
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: "Proxima Nova";
    font-size: 35px;
    font-weight: 700;
    color: #646c6c;
  }

  /* line 128, ../sass/_contactSection.scss */
  .styleN16_ProfBorn {
    margin-left: 14px;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    color: #646c6c;
    line-height: 25px;
  }

  /* line 136, ../sass/_contactSection.scss */
  .styleN20_txtHome {
    margin-left: 17px;
    margin-top: 21px;
    margin-bottom: 17px;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    color: #969696;
  }

  /* line 146, ../sass/_contactSection.scss */
  .styleN21_txtNumber {
    margin-left: 17px;
    font-family: "Proxima Nova";
    font-size: 25px;
    font-weight: 400;
    color: #2b79ec;
  }

  /* line 154, ../sass/_contactSection.scss */
  .styleN22_txtCurAddrCaption {
    margin-left: 17px;
    margin-top: 19px;
    margin-bottom: 10px;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    color: #969696;
  }

  /* line 164, ../sass/_contactSection.scss */
  .styleN23_txtCurAddr {
    margin-left: 17px;
    margin-bottom: 12px;
    font-family: "Proxima Nova";
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #2b79ec;
  }

  /* line 173, ../sass/_contactSection.scss */
  .styleN24_txtEmailCaption {
    margin-left: 17px;
    margin-top: 19px;
    margin-bottom: 17px;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    color: #969696;
  }

  /* line 183, ../sass/_contactSection.scss */
  .styleN25_txtSendEmail {
    margin-left: 17px;
    margin-bottom: 20px;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 400;
    color: #2b79ec;
  }

  /* line 192, ../sass/_contactSection.scss */
  .styleN26_ProfMap {
    text-align: right;
  }
}
/* line 14, ../sass/criminalRecord.scss */
.rowSectionCriminal {
  width: 1002px;
  margin: 0 auto;
  background-color: #1550a4;
  padding-top: 59px;
  padding-left: 72px;
}

/* line 22, ../sass/criminalRecord.scss */
.txtStyleN28 {
  margin-left: 0px;
  margin-bottom: 38px;
  font-family: "Proxima Nova";
  font-size: 31px;
  font-weight: 700;
  color: #fff;
}

/* line 31, ../sass/criminalRecord.scss */
.txtStyleN29 {
  margin-left: 0px;
  margin-bottom: 38px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 18px;
}

/* line 41, ../sass/criminalRecord.scss */
.btnStyleN30 {
  margin-bottom: 59px;
}
/* line 43, ../sass/criminalRecord.scss */
.btnStyleN30 .upgradeReportBtn {
  margin-right: 11px;
}

/* line 45, ../sass/criminalRecord.scss */
.criminalCircle {
  background-color: #2b79ec;
  width: 242px;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 85px;
  border-radius: 50%;
  margin-left: 105px;
}

@media (max-width: 767px) {
  /* line 9, ../sass/_phoneNumbers.scss */
  .styleN27_BtnPadding {
    margin-bottom: 15px;
  }
  /* line 11, ../sass/_phoneNumbers.scss */
  .styleN27_BtnPadding .styleN17_Btn > .styleN18_BtnIcon {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* line 14, ../sass/_phoneNumbers.scss */
  .styleN27_BtnPadding .styleN17_Btn > .styleN18_BtnIcon img {
    width: 55px;
  }

  /* line 21, ../sass/_phoneNumbers.scss */
  .styleN29_TxtNumber {
    margin-left: 17px;
    font-family: "Proxima Nova";
    font-size: 35px;
    font-weight: 400;
    color: #2b79ec;
    padding-top: 36px;
  }
}
@media (min-width: 768px) {
  /* line 36, ../sass/_phoneNumbers.scss */
  .styleN27_BtnPadding {
    width: 456px;
  }
  /* line 37, ../sass/_phoneNumbers.scss */
  .styleN27_BtnPadding:nth-child(2) {
    margin-left: 28px;
  }

  /* line 41, ../sass/_phoneNumbers.scss */
  .styleN28_TxtCaption {
    margin-left: 17px;
    margin-top: 20px;
    margin-bottom: 14px;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    color: #969696;
  }

  /* line 50, ../sass/_phoneNumbers.scss */
  .styleN29_TxtNumber {
    margin-left: 17px;
    font-family: "Proxima Nova";
    font-size: 25px;
    font-weight: 400;
    color: #2b79ec;
  }
}
/* line 5, ../sass/_caption.scss */
.styleN11_infoIcon {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 13, ../sass/_caption.scss */
  .styleN10_Caption {
    background-color: #2b79ec;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    padding: 30px 32px 35px 25px;
  }
  /* line 20, ../sass/_caption.scss */
  .styleN10_Caption .criminalCaption {
    color: #9ec1f4;
  }
}
@media (min-width: 768px) {
  /* line 28, ../sass/_caption.scss */
  .styleN10_Caption {
    background-color: #2b79ec;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 30px;
  }
  /* line 35, ../sass/_caption.scss */
  .styleN10_Caption .criminalCaption {
    color: #9ec1f4;
  }
}
@media (max-width: 767px) {
  /* line 9, ../sass/_relatives.scss */
  .styleN35_RetailPadding {
    margin-bottom: 20px;
  }
  /* line 11, ../sass/_relatives.scss */
  .styleN35_RetailPadding .styleN17_Btn > .styleN18_BtnIcon {
    margin-top: 47px;
    margin-bottom: 44px;
    padding-left: 28px;
  }
  /* line 16, ../sass/_relatives.scss */
  .styleN35_RetailPadding img {
    width: 51px;
  }

  /* line 18, ../sass/_relatives.scss */
  .styleN36_TxtNameRet {
    margin-left: 20px;
    margin-top: 30px;
    font-family: "Proxima Nova";
    color: #2b79ec;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }

  /* line 28, ../sass/_relatives.scss */
  .styleN37_TxtAgeRet {
    margin-top: 30px;
    margin-bottom: 5px;
    font-family: "Proxima Nova";
    color: #2b79ec;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }

  /* line 37, ../sass/_relatives.scss */
  .styleN38_TxtAddrRet {
    margin-left: 25px;
    font-family: "Proxima Nova";
    color: #2b79ec;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    text-align: left;
  }

  /* line 46, ../sass/_relatives.scss */
  .styleN40_BtnDetail {
    text-align: right;
    padding-right: 20px;
    margin-top: 54px;
  }
  /* line 50, ../sass/_relatives.scss */
  .styleN40_BtnDetail img {
    width: 30px;
  }
}
@media (min-width: 768px) {
  /* line 60, ../sass/_relatives.scss */
  .styleN31_TxtName {
    font-family: "Proxima Nova";
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  /* line 68, ../sass/_relatives.scss */
  .styleN32_TxtAge {
    font-family: "Proxima Nova";
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin-right: 50px;
  }

  /* line 77, ../sass/_relatives.scss */
  .styleN33_TxtAddr {
    font-family: "Proxima Nova";
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
  }

  /* line 85, ../sass/_relatives.scss */
  .styleN34_TxtDetail {
    font-family: "Proxima Nova";
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin-right: 35px;
    margin-bottom: 21px;
  }

  /* line 95, ../sass/_relatives.scss */
  .styleN35_RetailPadding {
    margin-bottom: 10px;
  }
  /* line 97, ../sass/_relatives.scss */
  .styleN35_RetailPadding .styleN17_Btn > .styleN18_BtnIcon {
    margin-top: 24px;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  /* line 103, ../sass/_relatives.scss */
  .styleN36_TxtNameRet {
    margin-left: 17px;
    margin-top: 37px;
    font-family: "Proxima Nova";
    font-size: 25px;
    font-weight: 400;
    color: #2b79ec;
  }

  /* line 111, ../sass/_relatives.scss */
  .styleN37_TxtAgeRet {
    margin-top: 40px;
    font-family: "Proxima Nova";
    font-size: 20px;
    color: #646c6c;
    font-weight: bold;
    padding-right: 47px;
  }

  /* line 119, ../sass/_relatives.scss */
  .styleN38_TxtAddrRet {
    margin-top: 30px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #646c6c;
    padding-left: 47px;
  }

  /* line 128, ../sass/_relatives.scss */
  .styleN39_TxtInfoRet {
    margin-top: 40px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    color: #2b79ec;
    text-align: right;
    padding-right: 33px;
  }
}
@media (max-width: 767px) {
  /* line 9, ../sass/_neighbors.scss */
  .styleN45_RetailPadding {
    margin-bottom: 20px;
  }
  /* line 11, ../sass/_neighbors.scss */
  .styleN45_RetailPadding .styleN17_Btn > .styleN18_BtnIcon {
    margin-top: 47px;
    margin-bottom: 44px;
    padding-left: 28px;
  }
  /* line 16, ../sass/_neighbors.scss */
  .styleN45_RetailPadding img {
    width: 51px;
  }

  /* line 18, ../sass/_neighbors.scss */
  .styleN46_TxtNameNeigh {
    margin-left: 20px;
    margin-top: 30px;
    font-family: "Proxima Nova";
    color: #2b79ec;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }

  /* line 28, ../sass/_neighbors.scss */
  .styleN47_TxtAgeNeigh {
    margin-top: 30px;
    margin-bottom: 5px;
    font-family: "Proxima Nova";
    color: #2b79ec;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }

  /* line 37, ../sass/_neighbors.scss */
  .styleN48_TxtAddrNeigh {
    margin-left: 25px;
    font-family: "Proxima Nova";
    color: #2b79ec;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    text-align: left;
  }

  /* line 46, ../sass/_neighbors.scss */
  .styleN50_BtnDetail {
    text-align: right;
    padding-right: 20px;
    margin-top: 54px;
  }
  /* line 50, ../sass/_neighbors.scss */
  .styleN50_BtnDetail img {
    width: 30px;
  }

  /* line 54, ../sass/_neighbors.scss */
  .styleN51_BtnBack {
    text-align: center;
    padding-top: 42px;
    padding-bottom: 37px;
    width: 460px;
    margin: 0 auto;
    margin-top: 35px;
    background-color: #e5e6e5;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #aaadb0;
    -moz-box-shadow: 1px 1px 0 #aaadb0;
    -webkit-box-shadow: 1px 1px 0 #aaadb0;
  }
  /* line 56, ../sass/_neighbors.scss */
  .styleN51_BtnBack a {
    font-family: "Proxima Nova";
    color: #646c6c;
    font-size: 35px;
    font-weight: 400;
    line-height: 25px;
  }
}
@media (min-width: 768px) {
  /* line 80, ../sass/_neighbors.scss */
  .styleN41_TxtName {
    font-family: "Proxima Nova";
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  /* line 88, ../sass/_neighbors.scss */
  .styleN42_TxtAge {
    font-family: "Proxima Nova";
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin-right: 50px;
  }

  /* line 97, ../sass/_neighbors.scss */
  .styleN43_TxtAddr {
    font-family: "Proxima Nova";
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
  }

  /* line 105, ../sass/_neighbors.scss */
  .styleN44_TxtDetail {
    font-family: "Proxima Nova";
    color: #969696;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin-right: 35px;
    margin-bottom: 21px;
  }

  /* line 115, ../sass/_neighbors.scss */
  .styleN45_RetailPadding {
    margin-bottom: 10px;
  }
  /* line 117, ../sass/_neighbors.scss */
  .styleN45_RetailPadding .styleN17_Btn > .styleN18_BtnIcon {
    margin-top: 24px;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  /* line 123, ../sass/_neighbors.scss */
  .styleN46_TxtNameNeigh {
    margin-left: 17px;
    margin-top: 37px;
    font-family: "Proxima Nova";
    font-size: 25px;
    font-weight: 400;
    color: #2b79ec;
  }

  /* line 131, ../sass/_neighbors.scss */
  .styleN47_TxtAgeNeigh {
    margin-top: 40px;
    font-family: "Proxima Nova";
    font-size: 20px;
    color: #646c6c;
    font-weight: bold;
    padding-right: 47px;
  }

  /* line 139, ../sass/_neighbors.scss */
  .styleN48_TxtAddrNeigh {
    margin-top: 30px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #646c6c;
    padding-left: 47px;
  }

  /* line 148, ../sass/_neighbors.scss */
  .styleN49_TxtInfoNeigh {
    margin-top: 40px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    color: #2b79ec;
    text-align: right;
    padding-right: 33px;
  }
}
@media (min-width: 768px) {
  /* line 14, ../sass/_xShell.scss */
  .styleN61_Blockxshell {
    background-color: #fff;
    width: 1002px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 59px;
  }

  /* line 21, ../sass/_xShell.scss */
  .styleN62_LeftShell {
    background-color: #2b79ec;
    border-radius: 5px;
    margin-right: 15px;
    padding-bottom: 59px;
    width: 485px;
  }

  /* line 29, ../sass/_xShell.scss */
  .styleN63_RightShell {
    background-color: #1548a0;
    border-radius: 5px;
    margin-left: 15px;
    width: 485px;
  }

  /* line 35, ../sass/_xShell.scss */
  .styleN64_lShellTitle {
    margin-top: 61px;
    margin-bottom: 24px;
    font-family: "Proxima Nova";
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }

  /* line 45, ../sass/_xShell.scss */
  .styleN65_lShellDesc {
    margin-bottom: 27px;
    font-family: "Proxima Nova";
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }

  /* line 54, ../sass/_xShell.scss */
  .styleN66_ShellBtn {
    border-radius: 5px;
    background-color: #ffffff;
    width: 242px;
    margin-left: 119px;
    padding-top: 23px;
    padding-bottom: 16px;
    font-family: "Proxima Nova";
    font-size: 19px;
    font-weight: 700;
    color: #2b79ec;
    text-align: center;
  }

  /* line 68, ../sass/_xShell.scss */
  .styleN67_rShellTitle {
    margin-top: 61px;
    margin-bottom: 24px;
    font-family: "Proxima Nova";
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }

  /* line 79, ../sass/_xShell.scss */
  .styleN68_rShellDesc {
    margin-bottom: 27px;
    font-family: "Proxima Nova";
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }

  /* line 88, ../sass/_xShell.scss */
  .styleN69_BtnUp {
    background-color: #e7e7e7;
    position: relative;
    right: -545px;
    top: -10px;
    width: 58px;
    text-align: center;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  /* line 14, ../sass/_footer.scss */
  .styleN54_FooterSection {
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 65px;
  }

  /* line 19, ../sass/_footer.scss */
  .styleN55_FooterContent {
    width: 1099px;
    background-color: #f6f6f6;
    margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
  }
  /* line 24, ../sass/_footer.scss */
  .styleN55_FooterContent:nth-child(1) {
    padding-bottom: 38px;
    margin-bottom: 40px;
  }
  /* line 29, ../sass/_footer.scss */
  .styleN55_FooterContent:nth-child(2) {
    padding-bottom: 37px;
    margin-bottom: 39px;
  }
  /* line 34, ../sass/_footer.scss */
  .styleN55_FooterContent:nth-child(3) {
    padding-bottom: 42px;
    margin-bottom: 31px;
  }

  /* line 43, ../sass/_footer.scss */
  .styleN56_FooterABC {
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 700;
  }
  /* line 48, ../sass/_footer.scss */
  .styleN56_FooterABC li {
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
  }
  /* line 51, ../sass/_footer.scss */
  .styleN56_FooterABC li:nth-child(1) {
    font-size: 15px;
    font-weight: 700;
  }
  /* line 54, ../sass/_footer.scss */
  .styleN56_FooterABC a {
    font-size: 17px;
    font-weight: 400;
  }

  /* line 58, ../sass/_footer.scss */
  .styleN57_FooterLinks {
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    list-style-type: disc;
    float: left;
  }
  /* line 65, ../sass/_footer.scss */
  .styleN57_FooterLinks li {
    display: inline;
  }
  /* line 67, ../sass/_footer.scss */
  .styleN57_FooterLinks li.StyleN58_Disk:before {
    content: "\2022";
    color: #a3a3a3;
    margin-left: 8px;
    margin-right: 8px;
  }

  /* line 71, ../sass/_footer.scss */
  .styleN59_Description {
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #808080;
  }

  /* line 80, ../sass/_footer.scss */
  .styleN60_SecurityIcon {
    text-align: center;
  }
  /* line 82, ../sass/_footer.scss */
  .styleN60_SecurityIcon img {
    margin-right: 34px;
    margin-bottom: 41px;
  }

  /* line 87, ../sass/_footer.scss */
  .styleN61_Copyright {
    font-family: "Proxima Nova";
    text-align: center;
    color: #a7a7a7;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 18px;
  }
}
@media (max-width: 767px) {
  /* line 22, ../sass/global.scss */
  .rowSection {
    width: 640px;
    margin: 0 auto;
  }

  /* line 26, ../sass/global.scss */
  .styleN12_Block {
    background-color: #f5f5f5;
    padding: 40px 30px;
    border-left: 1px solid #dee1e3;
    border-right: 1px solid #dee1e3;
  }

  /* line 35, ../sass/global.scss */
  .styleN17_Btn {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #dee1e3;
    -webkit-box-shadow: 2px 2px 0px #e9e9e9;
    -moz-box-shadow: 2px 2px 0px #e9e9e9;
    box-shadow: 2px 2px 0px #e9e9e9;
  }

  /* line 43, ../sass/global.scss */
  .styleN18_BtnIcon {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 32px;
  }

  /* line 48, ../sass/global.scss */
  .styleN19_BtnPadding {
    padding-bottom: 8px;
  }

  /* line 52, ../sass/global.scss */
  .styleN30_TxtViewAll {
    font-family: "Proxima Nova";
    color: #2b79ec;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-top: 44px;
  }
}
@media (min-width: 768px) {
  /* line 67, ../sass/global.scss */
  .rowSection {
    width: 1002px;
    margin: 0 auto;
  }

  /* line 71, ../sass/global.scss */
  .styleN12_Block {
    background-color: #f5f5f5;
    padding: 30px 30px;
    border-left: 1px solid #dee1e3;
    border-right: 1px solid #dee1e3;
  }
  /* line 77, ../sass/global.scss */
  .styleN12_Block.styleN53_NeighBorder {
    border-bottom: 1px solid #dee1e3;
  }

  /* line 80, ../sass/global.scss */
  .styleN17_Btn {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #dee1e3;
    -webkit-box-shadow: 2px 2px 0px #e9e9e9;
    -moz-box-shadow: 2px 2px 0px #e9e9e9;
    box-shadow: 2px 2px 0px #e9e9e9;
  }

  /* line 88, ../sass/global.scss */
  .styleN18_BtnIcon {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  /* line 93, ../sass/global.scss */
  .styleN19_BtnPadding {
    padding-bottom: 8px;
  }

  /* line 96, ../sass/global.scss */
  .styleN30_TxtViewAll {
    font-family: "Proxima Nova";
    color: #2b79ec;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 30px;
  }
}
/* line 109, ../sass/global.scss */
.extrabold {
  font-family: "Proxima Nova";
  font-weight: 900;
}

/* line 113, ../sass/global.scss */
.normal {
  font-family: "Proxima Nova";
  font-weight: normal;
}

/* line 117, ../sass/global.scss */
.bold {
  font-family: "Proxima Nova";
  font-weight: bold;
}

/* line 121, ../sass/global.scss */
.semibold {
  font-family: "Proxima Nova";
  font-weight: 600;
}

/* line 125, ../sass/global.scss */
.light {
  font-family: "Proxima Nova";
  font-weight: 300;
}
