/* line 15, ../sass/header.scss */
.headerBG {
  background-color: #fbfbfb;
  text-align: center;
  border-bottom: 1px solid #dee1e3;
}
/* line 20, ../sass/header.scss */
.headerBG input {
  background-color: #ffffff;
  color: #646c6c;
  margin-top: 20px;
  margin-bottom: 22px;
}
/* line 30, ../sass/header.scss */
.headerBG .sectionInput {
  display: inline-block;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #d4d6d8;
}
/* line 37, ../sass/header.scss */
.headerBG .container {
  max-height: 1032px;
}

/* line 44, ../sass/header.scss */
.searchBtn {
  background-color: #2b79ec;
  height: 55px;
  width: 67px;
  vertical-align: middle;
  border: none;
}

/* line 53, ../sass/header.scss */
.rowHeader {
  background-color: #fafafa;
  border-bottom: 1px solid #dee1e3;
}

/* line 58, ../sass/header.scss */
.rowHeaderContent {
  width: 1002px;
  margin: 0 auto;
  padding-top: 20px;
}

/* line 64, ../sass/header.scss */
.inputKindSearch {
  display: inline-block;
}

/* line 70, ../sass/header.scss */
.inputSearch {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 50px;
}

/* line 76, ../sass/header.scss */
.btnSearch {
  display: inline-block;
  background-color: #2b79ec;
  margin-top: 25px;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 5px;
  border-top: 1px solid #a2c3f6;
  border-right: 1px solid #2657c0;
  border-bottom: 1px solid #1b4ca2;
  border-left: 1px solid #6898ef;
}
/* line 86, ../sass/header.scss */
.btnSearch input {
  margin-bottom: -5px;
}

/* line 97, ../sass/header.scss */
.inputCollect {
  display: inline;
  border-radius: 5px;
  border: 1px solid #d4d6d8;
  padding-top: 18px;
  padding-bottom: 15px;
  background-color: #ffffff;
  margin-right: 10px;
}

/* line 109, ../sass/header.scss */
.txtStyleN40 {
  font-family: "Proxima Nova";
  margin-left: 20px;
  margin-right: 10px;
  border: none;
  font-size: 14px;
  color: #646c6c;
  font-weight: 900;
  width: 166px;
}
/* line 118, ../sass/header.scss */
.txtStyleN40 :after {
  content: "";
  background: url("img/dropdownIcon.png") no-repeat right;
}

/* line 121, ../sass/header.scss */
.txtStyleN41 {
  font-family: "Proxima Nova";
  color: #646c6c;
  font-size: 14px;
  font-weight: 900;
  border: none;
}

/* line 130, ../sass/header.scss */
.txtStyleN42 {
  font-family: "Proxima Nova";
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  border: none;
  width: 293px;
}
