@media (max-width: 767px) {
  /* line 10, ../sass/header.scss */
  .styleN1_rowHeader {
    background-color: #fafafa;
    border-bottom: 1px solid #dee1e3;
  }

  /* line 15, ../sass/header.scss */
  .styleN2_rowHeaderContent {
    width: 640px;
    margin: 0 auto;
  }

  /* line 23, ../sass/header.scss */
  .styleN3_inputCollect {
    display: inline;
    border-radius: 5px;
    border: 1px solid #d4d6d8;
    padding-top: 18px;
    padding-bottom: 15px;
    background-color: #ffffff;
    margin-right: 10px;
  }

  /* line 33, ../sass/header.scss */
  .styleN4_inputKindSearch {
    display: inline-block;
  }

  /* line 37, ../sass/header.scss */
  .styleN5_selectTxt {
    font-family: "Proxima Nova";
    margin-left: 20px;
    margin-right: 10px;
    border: none;
    font-size: 19px;
    color: #646c6c;
    font-weight: 700;
    width: 166px;
  }
  /* line 47, ../sass/header.scss */
  .styleN5_selectTxt :after {
    content: "";
    background: url("img/dropdownIcon.png") no-repeat right;
  }

  /* line 51, ../sass/header.scss */
  .styleN6_inputSearch {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 50px;
  }

  /* line 57, ../sass/header.scss */
  .styleN7_labelFindNear {
    font-family: "Proxima Nova";
    color: #646c6c;
    font-size: 19px;
    font-weight: 900;
    border: none;
  }

  /* line 65, ../sass/header.scss */
  .styleN8_inputFindNear {
    font-family: "Proxima Nova";
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
    border: none;
    width: 283px;
  }

  /* line 75, ../sass/header.scss */
  .styleN9_btnSearch {
    display: inline-block;
    background-color: #2b79ec;
    margin-top: 25px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 5px;
    border-top: 1px solid #a2c3f6;
    border-right: 1px solid #2657c0;
    border-bottom: 1px solid #1b4ca2;
    border-left: 1px solid #6898ef;
  }
  /* line 85, ../sass/header.scss */
  .styleN9_btnSearch input {
    background: url("../img/searchIcon.png") no-repeat;
    border: none;
    width: 27px;
  }
}
/* line 106, ../sass/header.scss */
.styleN1_rowHeader {
  background-color: #fafafa;
  border-bottom: 1px solid #dee1e3;
}

/* line 111, ../sass/header.scss */
.styleN2_rowHeaderContent {
  width: 1002px;
  margin: 0 auto;
}

/* line 119, ../sass/header.scss */
.styleN3_inputCollect {
  display: inline;
  border-radius: 5px;
  border: 1px solid #d4d6d8;
  padding-top: 18px;
  padding-bottom: 15px;
  background-color: #ffffff;
  margin-right: 10px;
}

/* line 129, ../sass/header.scss */
.styleN4_inputKindSearch {
  display: inline-block;
}

/* line 133, ../sass/header.scss */
.styleN5_selectTxt {
  font-family: "Proxima Nova";
  margin-left: 20px;
  margin-right: 10px;
  border: none;
  font-size: 19px;
  color: #646c6c;
  font-weight: 700;
  width: 166px;
}
/* line 143, ../sass/header.scss */
.styleN5_selectTxt :after {
  content: "";
  background: url("img/dropdownIcon.png") no-repeat right;
}

/* line 147, ../sass/header.scss */
.styleN6_inputSearch {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 50px;
}

/* line 153, ../sass/header.scss */
.styleN7_labelFindNear {
  font-family: "Proxima Nova";
  color: #646c6c;
  font-size: 19px;
  font-weight: 900;
  border: none;
}

/* line 161, ../sass/header.scss */
.styleN8_inputFindNear {
  font-family: "Proxima Nova";
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  border: none;
  width: 283px;
}

/* line 171, ../sass/header.scss */
.styleN9_btnSearch {
  display: inline-block;
  background-color: #2b79ec;
  margin-top: 25px;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 5px;
  border-top: 1px solid #a2c3f6;
  border-right: 1px solid #2657c0;
  border-bottom: 1px solid #1b4ca2;
  border-left: 1px solid #6898ef;
}
/* line 181, ../sass/header.scss */
.styleN9_btnSearch input {
  background: url("../img/searchIcon.png") no-repeat;
  border: none;
  width: 27px;
}
