/* line 15, ../sass/relatives.scss */
.txtStyleN7 {
  margin-left: 17px;
  margin-top: 37px;
  font-family: "Proxima Nova";
  font-size: 17px;
  font-weight: 400;
  color: #2b79ec;
}

/* line 24, ../sass/relatives.scss */
.txtStyleN8 {
  margin-top: 40px;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  color: #646c6c;
}

/* line 33, ../sass/relatives.scss */
.txtStyleN9 {
  margin-top: 30px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 400;
  color: #646c6c;
  padding-right: 64px;
}

/* line 43, ../sass/relatives.scss */
.txtStyleN10 {
  margin-top: 40px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 400;
  color: #2b79ec;
  text-align: right;
  padding-right: 33px;
}

/* line 53, ../sass/relatives.scss */
.txtStyleN11 {
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 400;
  color: #969696;
  text-align: center;
}

/* line 64, ../sass/relatives.scss */
.txtStyleN12 {
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 400;
  color: #969696;
  padding-right: 60px;
  text-align: right;
}

/* line 75, ../sass/relatives.scss */
.txtStyleN13 {
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 400;
  color: #969696;
  text-align: left;
}

/* line 86, ../sass/relatives.scss */
.txtStyleN14 {
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 400;
  color: #969696;
  padding-right: 35px;
  text-align: right;
}

/* line 97, ../sass/relatives.scss */
.txtStyleN15 {
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 400;
  color: #2b79ec;
  padding-right: 35px;
  text-align: left;
}

/* line 108, ../sass/relatives.scss */
.placeN3_Relatives {
  padding-bottom: 21px;
}

/* line 109, ../sass/relatives.scss */
.placeN4_Relatives {
  padding-bottom: 10px;
}

/* line 110, ../sass/relatives.scss */
.placeN5_Relatives {
  padding-bottom: 10px;
}

/* line 111, ../sass/relatives.scss */
.placeN6_Relatives {
  padding-bottom: 30px;
}

/* line 112, ../sass/relatives.scss */
.placeN7_Relatives {
  padding-bottom: 28px;
}
