html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #fff;
}
div{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,ul,li,span,img,select,input{
    line-height: 1;
    font-size: 0;
    margin: 0;
    padding: 0;
}
button, select, input{
    border: none;
    font-family: roboto, sans-serif;
}
input:focus, input:active{
  border: none;
  -webkit-outline: none;
  -moz-outline: none;
  -ms-outline: none;
  -o-outline: none;
  outline: none;
}

img{
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}
.main-section{
    background-image: url("./../images/hero-image.jpg");
    min-height: 980px;
    position: relative;
}

.scroll-left-wrap{
    cursor: pointer;
    position: absolute;
    top: 24%;
    left: 0;

    padding-top: 15rem;
    padding-right: 5rem;
    padding-bottom: 15rem;
    padding-left: 1.4375rem;
}
.scroll-right-wrap{
    cursor: pointer;
    position: absolute;
    top: 24%;
    right: 0;

    padding-top: 15rem;
    padding-right: 1.4375rem;
    padding-bottom: 15rem;
    padding-left: 5rem;
}
.scroll-right-wrap:hover .scroll-button > path{
    fill: #fff;
}
.scroll-left-wrap:hover .scroll-button > path{
    fill: #fff;
}
.scroll-down-wrap{
    position: absolute;
    bottom: 1.9rem;
    left: 48.3%;
}
.slider-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.slider-items > li {
    float: left;
    width: 20%;
    background-color:  #aba8a6;
    height: 2px;
    display: inline-block;
}
.slider-items > li.active{
    background-color: #fcff19;
}

.header{
    max-width: 1112px;
    margin: 0 auto;
}
.logo-wrap{
    float: left;
    padding-top: 1.3rem;
}
.menu-wrap{
    float: right;
    padding-top: 1.6rem;
    padding-right: 0.7rem;
}
.menu-items{
    //margin-right: 1.1rem;
    display: inline-block;
}
.menu-items > li{
    display: inline-block;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
}
.menu-items span{
    color: #ffffff;
    font-size: 0.938rem;
    font-weight: 700;
}
.menu-item-drop{
    display: none;
}
.basket-wrap{
    float: right;
    padding: 2.2rem 1rem;
}
.hero-wrap{
    padding-top: 18.8rem;
    padding-bottom: 1rem;
    clear: both;

}
.hero-title{
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
}
.hero-subtitle{
    color:  #ffffff;
    font-size: 1.75rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 2.2rem;
}
.hero-subtitle > span{
    color:  #fdff19;
    font-size: 1.75rem;
}
.hero-wrap > .button-wrap{
    width: 136px;
    margin: 0 auto;
}
.btn-shop{
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fdff19;
    font-size: 0.75rem;
    text-align: center;
    min-height: 43px;
    padding-left: 1.6875rem;
    padding-right: 1.6875rem;
}
.btn-shop:hover{
    background-color: #222;
    color: rgba(253,255,25,0.95);
}

.categories-section{
    min-height: 628px;
    background-image: url("./../images/categories-bg.png");
    padding-top: 4.45rem;
}
.categories-title{
    color:  #000000;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4.5rem;
}
.categories-images-wrap{
    max-width: 1112px;
    margin: 0 auto;
}
.categories-image-item{
    width: 346px;
    height: 288px;
    margin-right: 29px;
    float: left;
    background-color: #aba8a6;
    position: relative;
    padding-top: 8.7rem;
}
.categories-image-item:last-child{
    margin-right: 0;
}
.categories-image-item > img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.categories-content{
    position: inherit;
    z-index: 1001;
}
.categories-subtitle{
    color:  #fcff19;
    font-size: 0.938rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.6rem;
}
.categories-text{
    color:  #ffffff;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1.6rem;
}
.categories-content > .button-wrap{
    width: 122px;
    margin: 0 auto;
}
.btn-store{
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    min-height: 2.375rem;
    padding-top: 0.9rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    width: 100%;
}
.btn-store:hover{
  opacity: 0.8;
}

.popular-section{
  min-height: 628px;
  padding-top: 4.45rem;
}
.popular-title{
  color:  #000000;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 3.1rem;
}
.popular-items-wrap {
  max-width: 1878px;
  margin: 0 auto;
}
.popular-item{
  float: left;
  width: 490px;
  margin-right: 12.6rem;
}
.popular-item:last-child{
  margin-right: 0;
}
.popular-item-image {
  margin-bottom: 0.7rem;
}
.popular-item-description{
  color:  #000000;
  font-size: 0.938rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.4;
  float: left;
}
.popular-item-price{
  color:  #000000;
  font-size: 0.938rem;
  font-weight: 300;
}
.popular-item > .button-wrap{
  float: right;
}
.popular-item-options{
  float: right;
}
.popular-item-options > select{
  border: 1px solid #8f8f8f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color:  #000000;
  font-size: 0.75rem;
  font-weight: 700;
  width: 144px;
  height: 43px;
  margin-right: 9px;
  padding-left: 1.1rem;
}

.btn-buy{
  cursor: pointer;
  border-radius: 10px;
  background-color:  #b7b7b7;
  min-height: 43px;
  color:  #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}
.btn-buy:hover{
  background-color: #000;
  color:  #fdff19;
}
.contact-us-section{
  min-height: 634px;
  background-image: url("./../images/contact-us-bg.jpg");
  padding-top: 3.9rem;
}
.contact-us-title{
  color:  #000000;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 3.4rem;
}
.contact-us-subtitle{
  color:  #000000;
  font-size: 0.938rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 3rem;
}
.form-wrap{
  width: 451px;
  margin: 0 auto;
}
.feedback-form input{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #dadada;
  min-height: 43px;
  width: 100%;
  color:  #808080;
  font-size: 0.75rem;
  font-style: italic;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.feedback-form input:focus, .feedback-form input:active{
  border: 2px solid #f5f5f5;
}
.input-name-wrap{
  width: 49%;
  float: left;
}
.input-surname-wrap{
  width: 49%;
  float: right;
}
.input-email-wrap{
  width: 100%;
  float: left;
}