//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
@import "variable";
.styleN11_infoIcon {
  text-align: right;

}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {
  .styleN10_Caption{
    background-color:#2b79ec ;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight:700;
    color: #ffffff;
    padding: 30px 32px 35px 25px;
    .criminalCaption{ color:#9ec1f4;}

  }
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE//////////////////////////////////
@media (min-width: 768px){
  .styleN10_Caption{
    background-color:#2b79ec ;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight:700;
    color: #ffffff;
    padding: 15px 30px;
   .criminalCaption{ color:#9ec1f4;}

  }

}




