//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
@import "variable";
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE//////////////////////////////////
@media (min-width: 768px){
  .styleN70_ReportSection{
    background-color:#fff ;
    width:1002px ;
    margin: 0 auto;
    padding-top: 9px;
    padding-bottom:10px ;
    &>.M3{text-align: right}
  }
  .styleN71_BtnUpgReport{
    background-color: #1ab86b;
    width: 171px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #008249;
    border: none;
    font-family: "Proxima Nova";
    color:#ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px

  }
  .styleN72_BtnSave{}
  .styleN73_BtnPrint{margin-left: 29px;}
  .styleN74_BtnDownload{margin-left: 30px;}
  .styleN75_BtnEmail{margin-left: 29px;}
}
