//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
//@import "variable";
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE//////////////////////////////////
@media (min-width: 768px){}





.mapAddr{
  text-align: center;
  margin-bottom: 50px;
}

.txtStyleN16 {
  margin-left:58px;
  margin-top:34px;
  font-family: "Proxima Nova";
  font-size:16px;
  font-weight: 700;
  color:#2b79ec;

}
.txtStyleN17 {
  margin-right:7px;
  margin-top:37px;
  font-family: "Proxima Nova";
  font-size:10px;
  font-weight: 700;
  color:#1ab86b;
  padding-right: 35px;
  text-align: right;

}
.txtStyleN18 {
  margin-top:37px;
  font-family: "Proxima Nova";
  font-size:10px;
  font-weight: 400;
  color:#adadad;
  padding-right: 0px;
  text-align:right;

}
.txtStyleN19 {
  margin-top:37px;
  font-family: "Proxima Nova";
  font-size:12px; //16px
  font-weight: 400;
  color:#2b79ec;
  padding-right: 30px;
  text-align: right;

}
.placeN8_Addr{padding-bottom: 8px; }
.placeN9_Addr{padding-bottom: 10px;}
.placeN10_Addr{padding-bottom: 31px;}
.placeN8{
  margin-bottom: 10px;
}
.placeN9{
  margin-bottom: 10px;
}