//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
//@import "variable";
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE//////////////////////////////////
@media (min-width: 768px){}
.rowCaption{
background-color:#2b79ec ;
  width:1002px ;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight:700;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin:0 auto;
  .criminalCaption{ color:#9ec1f4;}

}