//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
//@import "variable";
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE//////////////////////////////////
@media (min-width: 768px){}
.txtStyleN20 {
  margin-left:14px;
  margin-bottom: 20px;
  font-family: "Proxima Nova";
  font-size:30px;
  font-weight: 700;
  color:#646c6c;

}
.txtStyleN21 {
  margin-left:14px;
  font-family: "Proxima Nova";
  font-size:14px;
  font-weight: 400;
  color:#646c6c;
  line-height: 18px;

}
.txtStyleN22 {
  margin-left: 17px;
  margin-top: 20px;
  font-family: "Proxima Nova";
  font-size:10px;
  font-weight: 400;
  color:#969696;

}
.txtStyleN23 {
  margin-left: 17px;
  margin-top:17px;
  font-family: "Proxima Nova";
  font-size:22px; //16px
  font-weight: 400;
  color:#2b79ec;

}
.txtStyleN24 {
  margin-left: 17px;
  margin-top: 20px;
  font-family: "Proxima Nova";
  font-size:10px;
  font-weight: 400;
  color:#969696;

}
.txtStyleN25 {
  margin-left: 17px;
  margin-top:17px;
  margin-bottom: 17px;
  font-family: "Proxima Nova";
  font-size:16px; //16px
  line-height: 18px;
  font-weight: 400;
  color:#2b79ec;
}
.txtStyleN26 {
  margin-left: 17px;
  margin-top: 20px;
  font-family: "Proxima Nova";
  font-size:10px;
  font-weight: 400;
  color:#969696;

}
.txtStyleN27 {
  margin-left: 17px;
  margin-top:17px;
  margin-bottom: 21px;
  font-family: "Proxima Nova";
  font-size:22px; //16px
  font-weight: 400;
  color:#2b79ec;
}
.placeN11_ContactInf{//padding-top: 30px;
  padding-bottom: 30px;}
.placeN12_ContactInf{padding-bottom: 10px;}
.placeN13_ContactInf{padding-bottom: 10px;}
.placeN14_ContactInf{padding-bottom: 28px;}
.placeN15_ContactInf{text-align: right}
.placeN12{margin-right:18px;}
.placeN11{}


.placeN14{margin-right:10px;}
.placeN15{}