//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
@import "variable";
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {


  .styleN1_rowHeader
  {
    background-color: #fafafa;
    border-bottom:1px solid #dee1e3;
    padding-top: 20px;
  }
  .styleN2_rowHeaderContent
  {
    width: 640px;
    margin:0 auto;

  }
  .styleN3_inputCollect
  {
    display: inline;
    border-radius: 5px;
    border: 1px solid #d4d6d8;
    padding-top: 18px;
    padding-bottom: 19px;
    background-color: #ffffff;
    margin-right: 10px;
  }



  .styleN6_inputSearch
  {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 28px;
  }


  .styleN9_btnSearch{
    display: inline-block;
    background-color: #2b79ec;
    padding-top: 8px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 5px;
    width: 67px;
    height: 55px;
    input{
      border: none;
    }
    img{
      position: relative;
      top: 8px;
    }
    box-shadow: 1px 1px 0  #1b4ca2;
    -webkit-box-shadow: 1px 1px 0 #1b4ca2;
    -moz-box-shadow: 1px 1px 0 #1b4ca2;
  }



}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE//////////////////////////////////
@media (min-width: 768px){

  .styleN1_rowHeader
  {
    background-color: #fafafa;
    border-bottom:1px solid #dee1e3;
    padding-top: 20px;
  }
  .styleN2_rowHeaderContent
  {
    width: 1002px;
    margin:0 auto;

  }
  .styleN3_inputCollect
  {
    display: inline;
    border-radius: 5px;
    border: 1px solid #d4d6d8;
    padding-top: 18px;
    padding-bottom: 19px;
    background-color: #ffffff;
    margin-right: 10px;
  }
  .styleN4_inputKindSearch
  {
    display: inline-block;
  }
  .styleN5_selectTxt
  {
    font-family: "Proxima Nova";
    margin-left: 20px;
    margin-right: 10px;
    border: none;
    font-size: 19px;
    color:#646c6c;
    font-weight: 700;
    width: 166px;
    :after{content:url("../img/dropdownIcon.png")}
  }


  .styleN6_inputSearch
  {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 28px;
  }
  .styleN7_labelFindNear
  {
    font-family: "Proxima Nova";
    color: #646c6c;
    font-size: 19px;
    font-weight:900;
    border: none;
  }
  .styleN8_inputFindNear
  {
    font-family: "Proxima Nova";
    color: #b3b3b3;
    font-size: 14px;
    font-weight:500;
    border: none;
    width: 283px;
  }

  .styleN9_btnSearch{
    display: inline-block;
    background-color: #2b79ec;
    padding-top: 8px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 5px;
    width: 67px;
    height: 55px;
    input{
      border: none;
    }
    img{
      position: relative;
      top: 8px;
    }
    box-shadow: 1px 1px 0  #1b4ca2;
    -webkit-box-shadow: 1px 1px 0 #1b4ca2;
    -moz-box-shadow: 1px 1px 0 #1b4ca2;
  }




}
