//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
//@import "variable";
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE//////////////////////////////////
@media (min-width: 768px){}

.phoneNumbersHeader{background-color:#2b79ec;
  .M1 {text-align: right; }
  .M11 {
    font-family: "Proxima Nova";
    color:#fff;
    font-weight: 700;
    font-size: 16px;
   margin-top: 20px;
    margin-bottom: 20px;
  }
}
.phoneNumbersBody {
  width: 1002px;
background-color: #f5f5f5;
.HP { background-color:#ffffff;
      margin-top: 30px;
      margin-left:27px;
      margin-right: 27px;
      border-radius: 5px;
      border:1px solid #dee1e3;
      box-shadow: 2px 2px 0 #e9e9e9;
      width: 456px;
      .hpLegend{
        font-family: "Proxima Nova";
        color: #969696;
        font-size:9px;
        font-weight:400;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 17px;
      }
      .hpDetail{
        font-family: "Proxima Nova";
        color: #2b79ec;
        font-weight: 400;
        text-align: left;
        font-size: 22px;
        margin-bottom: 20px;

      }
      .hpIcon{
        margin-top: 20px;
       text-align: center;

      }
}
.WP { background-color:#ffffff;
      margin-top: 30px;
}

}

.btnStyle {
  border-radius: 5px;
  background-color:#fff;
  border:1px solid #dee1e3;
  -webkit-box-shadow: 2px 2px 0px #e9e9e9;
  -moz-box-shadow: 2px 2px 0px #e9e9e9;
  box-shadow: 2px 2px 0px #e9e9e9;
}
  .placeN1{   //Индивидуальные настройки кнопок
    width: 456px; // Удаление параметра не должно повлиять!!!!
    margin-top: 30px;
    margin-left:14px;


  }
  .placeN2{
    width:456px;
    margin-top: 30px;

  }
  .placeN3{
    margin-bottom: 21px;
  }
  .placeN4{
    margin-bottom: 10px;
  }
  .placeN5{
    margin-bottom: 10px;
  }
  .placeN6{
    margin-bottom: 10px;
  }
  .placeN7{}

  .placeN10{
    margin-bottom: 10px;
  }
  ///////////////////Contact Information////////////////





////////////////////////////////////////////////////////
//////////////Exception for Contact Information Section//
////////////////////////////////////////////////////////


////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

.placeN1_Numbers {  //Задает габариты левой кнопки
  padding-right: 18px;
  padding-bottom: 30px;

}
.placeN2_Numbers{ //Задает габариты для правой кнопки
  padding-left: 18px;
  padding-bottom: 30px;

}
///////////////////////////////////////////////////////////////
/////////////////For Relatives & Neighbors/////////////////////

////////////////////////////////////////////////////////////////
/////////////////For Address History////////////////////////////

////////////////////////////////////////////////////////////////
/////////////////For Contact Information////////////////////////

////////////////////////////////////////////////////////////////
/////////////////////XSHELL Section ////////////////////////////

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////   Настройка ИКОНОК      ///////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
//////////////// Настройка стилей текста ///////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////// Phone Numbers Section////////////////////////////////
.txtStyleN1 {
  margin-left: 17px;
  margin-top: 20px;
  font-family: "Proxima Nova";
  font-size:10px;
  font-weight: 400;
  color:#969696;

}
.txtStyleN2{
  margin-left: 17px;
  margin-top:17px;
  font-family: "Proxima Nova";
  font-size:22px; //16px
  font-weight: 400;
  color:#2b79ec;

}
/////////////////////////////////////////////////////////////////////
///////////////////Relatives & Neighbors Section/////////////////////////////////



/////////////////////////////////////////////////////////////////////
///////////////////Address History Section///////////////////////////


/////////////////////////////////////////////////////////////////////
///////////////////Contact Information Section///////////////////////

/////////////////////////////////////////////////////////////////////
///////////////////Criminal Records Section//////////////////////////


//////////////////////////////////////////////////////////////////////
/////////////////////XSHELL Section //////////////////////////////////

//////////////////////////////////////////////////////////////////////
/////////////////////Footer Sections//////////////////////////////////

////////////////////////////////////////////////////////////////////////
//////////////////////HEADER SECTION////////////////////////////////////
