//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
//@import "variable";
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE////////////////////////////////// 
@media (min-width: 768px){}

.upgradeReportBtn {
  background-color: #1ab86b;
  color: #fff;
  width: 171px;
  height: 40px;
  border-radius: 5px;
  border-top-color:#4fcb92;
  border-right-color:#008249;
  border-bottom-color:#008249;
  border-left-color:#4fcb92 ;

}
.btnR{border: none; background-color: #fff; margin-left:30px !important; padding:0;
.btnSave{width: 28px; height: 22px;}
.btnPrint{width: 23px;height: 20px;}
.btnDownload{width: 23px;height:20px;}
.btnEmail{width:24px; height: 18px;}

}
.reportSect{ margin-top:8px; margin-bottom: 8px}